<h1>Exemplo de chatbot feito em Angular</h1>
<ng-container *ngFor="let message of messages">
<div class="message"
[ngClass]="{ 'from': message.author === 'bot',
'to': message.author === 'user' }">
{{ message.content }}
</div>
</ng-container>
<label *ngIf="messages.length == 0; else dialogInfo" for="nameField">Sua Mensagem</label>
<input [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text">
<button (click)="sendMessage()">Enviar</button>
<ng-template #dialogInfo>
<span [className]="'float-right'">Tota de Mensagens: {{messages.length}}</span>
</ng-template>